.btn {
  border-radius: 30px;
  padding: 15px 25px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  &--primary {
    @extend .bg--primary;
  }
  &--secondary {
    @extend .bg--secondary;
  }
  &--linear {
    @include generate-gradient($primaryColor, $secondaryColor, -10deg);
    color: white;
    border: none;
  }
}
