body,
html {
  font-family: $fontFamily__text;
  font-size: $fontSize__default;
}

h1 {
  font-family: $fontFamily__title;
  line-height: 1rem;
}
h2 {
  margin-bottom: 25px;
}
h3 {
  font-weight: 600;
  margin-top: 0px;
}

/*Typography-utilitary classes*/
@each $key, $value in $fontSizes {
  .text-#{$key} {
    font-size: $value;
    line-height: map-get($lineHeights, $key);
  }
}
@each $key, $value in $fontWeights {
  .font-#{$key} {
    font-weight: $value;
  }
}
.font--title {
  font-family: $fontFamily__title;
  font-size: 1.6rem;
  letter-spacing: 0.11rem;
  font-weight: 500;
}
.text-center {
  text-align: center;
}
