@import "../abstracts/variables";
@import "../abstracts/mixins";

.restaurant__header {
  height: 50vh;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.container {
  position: relative;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: $darkGray;
  margin-top: -60px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  z-index: 5;
  background: $lightGray;
}
article {
  width: 100%;
  overflow: hidden;
  .article__title {
    text-transform: uppercase;
    position: relative;
    text-overflow: ellipsis;
    font-weight: 400;
    margin: 20px 0;
    &::before {
      content: "";
      position: absolute;
      background: $tertiaryColor;
      width: 55px;
      height: 3px;
      bottom: -10px;
    }
  }
  .article__item-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.item {
  display: flex;
  width: 100%;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  background: white;
  overflow: hidden !important;
  height: 80px;
  animation: slide-up 1s ease-in-out;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    overflow: hidden;
  }
  &__desc {
    margin: 15px;
    overflow-x: hidden;
    h3,
    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &__price {
    margin: 0 15px;
  }
  &__save {
    display: flex;
    width: 60px;
    height: 100%;
    margin-right: -60px;
    background-color: $tertiaryColor;
    justify-content: center;
    align-items: center;
    i.fa-circle-check {
      font-size: 26px;
      color: white;
    }
  }

  &:hover &__save {
    animation: slide-in 1.5s;
    margin-right: 0px;
    i.fa-circle-check {
      animation-name: rotate-icon;
      animation-duration: 2s;
    }
  }
}
section button {
  align-self: center;
}
@keyframes rotate-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes slide-in {
  from {
    margin-right: -60px;
  }
  to {
    margin-right: 0;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0%;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}
